.Gallery {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e2e2e2;
  padding: 20px;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

@supports (display: grid) {
  .Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 2rem;
  }

  .Gallery {
    margin: 0;
  }
}
