.Gallery {
  border: 1px solid #e2e2e2;
  padding: 15px;
  min-height: 500px;
}

@supports (display: grid) {
  .Images {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 2rem;
  }

  .Images {
    margin: 0;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  padding-top: 10px;
}

.pagination > li {
  display: inline;
  padding: 6px 16px;
}

.pagination > li.active {
  background-color: #282c33;
}

.pagination > li:hover:not(.active) {
  background-color: #e2e2e2;
}

.pagination > li.active > a {
  color: white;
  text-decoration: none;
}

.pagination > li:not(.active) > a {
  color: #282c33;
  text-decoration: none;
}

.Loading {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
